<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>141580906832-1291nos2v0516i04dfurjchjlf9qi7if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141580906832-1291nos2v0516i04dfurjchjlf9qi7if</string>
	<key>API_KEY</key>
	<string>AIzaSyCs4_ULURw2D1RbLoKic7mSYcUJSudog10</string>
	<key>GCM_SENDER_ID</key>
	<string>141580906832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tkeyes25.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-d9a72</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-d9a72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141580906832:ios:6920b8f980c109a8</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-d9a72.firebaseio.com</string>
</dict>
</plist>